
@{
    ViewBag.Title = "Index";
}

<h1>hello from admin index</h1>

@Html.ActionLink("Billin Index View", "Index", "Home", new { area = "billing" }, null)
<br />

@Html.ActionLink("Main Index View", "Index", "Home", new { area = "" }, null)

